In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('C:\\Users\\gmgop\Desktop\\DATA SCIENCE WORKSPACE\\PROJECTS\\streamlit_app\\startup_funding.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\gmgop\\Desktop\\DATA SCIENCE WORKSPACE\\PROJECTS\\streamlit_app\\startup_funding.csv'

In [ ]:
startup_name = sorted(df['Startup Name'].unique().tolist())
startup_name

In [ ]:
df.info()

### Preprocessing
- drop remark column 
-  set index sno
-  rename col
-  convert amount to cr rs
-  date col
- dropna

In [ ]:
#dropping column remark
df.drop(columns=['Remarks'],inplace=True)

In [ ]:
#setting up index
df.set_index('Sr No', inplace=True)

In [ ]:
#renaming columns
df.rename(columns={'Date dd/mm/yyyy':'date',
                  'Startup Name':'startup',
                  'Industry Vertical':'vertical',
                   'SubVertical':'subvertical',
                  'City  Location':'city',
                  'Investors Name':'investors',
                  'InvestmentnType':'rounds',
                  'Amount in USD':'amount(cr)'}, inplace=True)

In [ ]:
df.head(3)

In [ ]:
df.info()

In [ ]:
df.info()

In [ ]:
#filling amount column to 0 for null values
df['amount(cr)'] = df['amount(cr)'].fillna('0')
df.head()

In [ ]:
#as amount column is object converting to int using astype
df['amount(cr)'].astype('int')

#more cleaning required

#When coerce is set to True, it instructs pandas to convert values that cannot be converted to the specified data type into NaN (Not a Number) or missing values. This allows you to continue working with the data without encountering errors.

For example, when using the to_numeric() function, you can pass coerce=True to convert non-numeric values to NaN.

In [ ]:
# Remove commas from 'amount(cr)' column
df['amount(cr)'] = df['amount(cr)'].str.replace(",","")

In [ ]:
df.head(3)

In [ ]:
df['amount(cr)'] = df['amount(cr)'].astype(int)

In [ ]:
# Convert 'amount(cr)' column to numeric with coercion
df['amount(cr)'] = pd.to_numeric(df['amount(cr)'], errors='coerce')

In [ ]:
df.head(3)

In [ ]:
df.info()

In [ ]:
#converting amount to crores
df['amount(cr)'] = (df['amount(cr)']*75/10000000)

In [ ]:
df.head(3)

In [ ]:
#Converting date coulumn into data datatype
df['date'] = pd.to_datetime(df['date'],errors='coerce')

In [ ]:
# Convert 'date' column to datetime data type with explicit date format
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y', errors='coerce')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.dropna()

In [ ]:
df.info()

In [ ]:
#dropping the missing values
df.dropna(subset=['date','startup','vertical','city','investors','rounds','amount(cr)'], inplace=True)

In [ ]:
df.info()

In [ ]:
df['date'].dt.day

In [ ]:
df['date'].dt.month

In [ ]:
df.to_csv('startup_analysis_cleaned.csv', index=False)

In [ ]:
investors_list = sorted(set(df['investors'].str.split(',').sum()))

In [ ]:
df[df['investors'].str.contains('Accel India')][['date','startup','vertical','city','investors','rounds','amount(cr)']].head(5)

In [ ]:
recent_investment = df[df['investors'].str.contains('Kalaari Capital')][['date','startup','vertical','city','investors','rounds','amount(cr)','year']]

In [ ]:
big_investment = recent_investment.groupby('startup')['amount(cr)'].sum().sort_values(ascending=False)

In [ ]:
big_investment.index

In [ ]:
big_investment.values

In [ ]:
sector_investments = recent_investment.groupby('vertical').size().sort_values(ascending=False)
sector_investments

In [ ]:
sector_investments.index

In [ ]:
sector_investments.values

In [ ]:
recent_investment.groupby('rounds').size().sort_values(ascending=False)

In [ ]:
recent_investment.groupby('city').size().sort_values(ascending=False)

In [ ]:
#YOY INVESTMENT
recent_investment[date]

In [ ]:
df['year'] = df['date'].dt.year

In [ ]:
df

In [ ]:
YOY = recent_investment.groupby('year')['amount(cr)'].sum()

In [ ]:
YOY.index

In [ ]:
YOY.values

In [ ]:
df.info()

In [ ]:
recent_investment

In [ ]:
#total amount funded

total_invested = round(df['amount(cr)'].sum())

In [ ]:
max_funding =  df.groupby('startup')['amount(cr)'].sum().sort_values(ascending=False)

In [ ]:
round(df['amount(cr)'].max())

In [ ]:
avg_funded = df.groupby('startup')['amount(cr)'].sum().mean()

In [ ]:
#total funded startups
no_of_funded_startups = df['startup'].nunique()

In [ ]:
#Month on month funded

df.head()

In [ ]:
df['month'] = df['date'].dt.month
df

In [ ]:
df.groupby(['year','month'])['startup'].sum()

In [ ]:
df.groupby(['year','month'])['amount(cr)'].sum()

In [7]:
df = pd.read_csv('C:\\Users\\gmgop\\Desktop\\DATA SCIENCE WORKSPACE\\PROJECTS\\startup_analysis\\startup_data_cleaned.csv')
df.head()

,date,startup,vertical,subvertical,city,investors,rounds,amount(cr)
0,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1500.000000
1,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,60.362955
2,2020-09-01,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,137.691450
3,2020-02-01,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,22.500000
4,2020-02-01,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,13.500000

In [18]:
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [19]:
df.head()

,date,startup,vertical,subvertical,city,investors,rounds,amount(cr),year,month
0,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1500.000000,2020,9
1,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,60.362955,2020,1
2,2020-09-01,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,137.691450,2020,9
3,2020-02-01,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,22.500000,2020,2
4,2020-02-01,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,13.500000,2020,2

In [22]:
#funded startups month wise
df.groupby(['year','month'])['startup'].count()

year  month
2015  1        35
      2        14
      3        36
      4        65
      5        53
               ..
2019  12       10
2020  1         2
      2         2
      9         2
      10        1
Name: startup, Length: 63, dtype: int64